web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/AdminAccMngmtWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://accountManagement.wx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://accountManagement.wx.com/">

<xs:element name="blockCust" type="tns:blockCust"/>

<xs:element name="blockCustResponse" type="tns:blockCustResponse"/>

<xs:element name="cancelAccount" type="tns:cancelAccount"/>

<xs:element name="cancelAccountResponse" type="tns:cancelAccountResponse"/>

<xs:element name="changePwAdmin" type="tns:changePwAdmin"/>

<xs:element name="changePwAdminResponse" type="tns:changePwAdminResponse"/>

<xs:element name="createAdmin" type="tns:createAdmin"/>

<xs:element name="createAdminResponse" type="tns:createAdminResponse"/>

<xs:element name="editParticularsAdmin" type="tns:editParticularsAdmin"/>

<xs:element name="editParticularsAdminResponse" type="tns:editParticularsAdminResponse"/>

<xs:element name="getAllCust" type="tns:getAllCust"/>

<xs:element name="getAllCustResponse" type="tns:getAllCustResponse"/>

<xs:element name="logInAdmin" type="tns:logInAdmin"/>

<xs:element name="logInAdminResponse" type="tns:logInAdminResponse"/>

<xs:element name="logOutAdmin" type="tns:logOutAdmin"/>

<xs:element name="logOutAdminResponse" type="tns:logOutAdminResponse"/>

<xs:element name="reActivateAdmin" type="tns:reActivateAdmin"/>

<xs:element name="reActivateAdminResponse" type="tns:reActivateAdminResponse"/>

<xs:element name="resetPwAdmin" type="tns:resetPwAdmin"/>

<xs:element name="resetPwAdminResponse" type="tns:resetPwAdminResponse"/>

<xs:element name="viewAccInfoAdmin" type="tns:viewAccInfoAdmin"/>

<xs:element name="viewAccInfoAdminResponse" type="tns:viewAccInfoAdminResponse"/>

<xs:element name="viewPurchaseHistoryAdmin" type="tns:viewPurchaseHistoryAdmin"/>

<xs:element name="viewPurchaseHistoryAdminResponse" type="tns:viewPurchaseHistoryAdminResponse"/>

<xs:complexType name="blockCust">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
<xs:element name="custID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="blockCustResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logInAdmin">
<xs:sequence>
<xs:element name="emailAdd" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logInAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCust">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCustResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="billToAdressCollection" type="tns:billToAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creditCardCollection" type="tns:creditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fistName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="orderDetailCollection" type="tns:orderDetail" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rateCollection" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shipToAddressCollection" type="tns:shipToAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="billToAddress">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="billState" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="customerCollection" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="postalcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comment">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="cStatus" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="cardHolder" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customerCollection" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="expDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderDetail">
<xs:sequence>
<xs:element name="contactName" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="discountedPrice" type="xs:double"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ordDate" type="tns:timestamp" minOccurs="0"/>
<xs:element name="orderItemCollection" type="tns:orderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="payment" type="tns:payment" minOccurs="0"/>
<xs:element name="priceBeforeDisc" type="xs:double"/>
<xs:element name="shippingFee" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double"/>
<xs:element name="dAddress1" type="xs:string" minOccurs="0"/>
<xs:element name="dAddress2" type="xs:string" minOccurs="0"/>
<xs:element name="dCity" type="xs:string" minOccurs="0"/>
<xs:element name="dContact" type="xs:string" minOccurs="0"/>
<xs:element name="dCountry" type="xs:string" minOccurs="0"/>
<xs:element name="dPostalCode" type="xs:string" minOccurs="0"/>
<xs:element name="dState" type="xs:string" minOccurs="0"/>
<xs:element name="sAddress1" type="xs:string" minOccurs="0"/>
<xs:element name="sAddress2" type="xs:string" minOccurs="0"/>
<xs:element name="sCity" type="xs:string" minOccurs="0"/>
<xs:element name="sContactNum" type="xs:string" minOccurs="0"/>
<xs:element name="sCountry" type="xs:string" minOccurs="0"/>
<xs:element name="sPostalCode" type="xs:string" minOccurs="0"/>
<xs:element name="sState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderItem">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="orderDetail" type="tns:orderDetail" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="subtotal" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="availableQuantity" type="xs:int"/>
<xs:element name="averageRate" type="xs:double"/>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cost" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="discount" type="xs:int"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRate" type="xs:int"/>
<xs:element name="orderItemCollection" type="tns:orderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="productStatus" type="xs:int"/>
<xs:element name="rateCollection" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="soldQuantity" type="xs:int"/>
<xs:element name="volumn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rate">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="cardHolder" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:int"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="method" type="xs:string" minOccurs="0"/>
<xs:element name="orderDetail" type="tns:orderDetail" minOccurs="0"/>
<xs:element name="payDay" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipToAddress">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="customerCollection" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="postalcode" type="xs:string" minOccurs="0"/>
<xs:element name="shipState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewPurchaseHistoryAdmin">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
<xs:element name="custID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewPurchaseHistoryAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePwAdmin">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
<xs:element name="oldPW" type="xs:string" minOccurs="0"/>
<xs:element name="newPW" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePwAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetPwAdmin">
<xs:sequence>
<xs:element name="emailAdd" type="xs:string" minOccurs="0"/>
<xs:element name="rstPW" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetPwAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editParticularsAdmin">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
<xs:element name="newAdminUsr" type="tns:adminUsr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminUsr">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editParticularsAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelAccount">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logOutAdmin">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logOutAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reActivateAdmin">
<xs:sequence>
<xs:element name="emailAdd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reActivateAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAdmin">
<xs:sequence>
<xs:element name="newAdminUsr" type="tns:adminUsr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAccInfoAdmin">
<xs:sequence>
<xs:element name="adminID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAccInfoAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:adminUsr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>