web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/categoryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://product/" name="categoryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://product/" schemaLocation="http://localhost:8080/WineXpressWebService-war/categoryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="saveNewCategories">
<part name="parameters" element="tns:saveNewCategories"/>
</message>
<message name="saveNewCategoriesResponse">
<part name="parameters" element="tns:saveNewCategoriesResponse"/>
</message>
<message name="viewAllCategories">
<part name="parameters" element="tns:viewAllCategories"/>
</message>
<message name="viewAllCategoriesResponse">
<part name="parameters" element="tns:viewAllCategoriesResponse"/>
</message>
<message name="getCategoriesName">
<part name="parameters" element="tns:getCategoriesName"/>
</message>
<message name="getCategoriesNameResponse">
<part name="parameters" element="tns:getCategoriesNameResponse"/>
</message>
<message name="getSubCategoryNameList">
<part name="parameters" element="tns:getSubCategoryNameList"/>
</message>
<message name="getSubCategoryNameListResponse">
<part name="parameters" element="tns:getSubCategoryNameListResponse"/>
</message>
<message name="editCategoryName">
<part name="parameters" element="tns:editCategoryName"/>
</message>
<message name="editCategoryNameResponse">
<part name="parameters" element="tns:editCategoryNameResponse"/>
</message>
<message name="editCategories">
<part name="parameters" element="tns:editCategories"/>
</message>
<message name="deleteCategories">
<part name="parameters" element="tns:deleteCategories"/>
</message>
<message name="deleteCategoriesResponse">
<part name="parameters" element="tns:deleteCategoriesResponse"/>
</message>
<message name="searchCategories">
<part name="parameters" element="tns:searchCategories"/>
</message>
<message name="searchCategoriesResponse">
<part name="parameters" element="tns:searchCategoriesResponse"/>
</message>
<portType name="categoryWS">
<operation name="saveNewCategories">
<input wsam:Action="http://product/categoryWS/saveNewCategoriesRequest" message="tns:saveNewCategories"/>
<output wsam:Action="http://product/categoryWS/saveNewCategoriesResponse" message="tns:saveNewCategoriesResponse"/>
</operation>
<operation name="viewAllCategories">
<input wsam:Action="http://product/categoryWS/viewAllCategoriesRequest" message="tns:viewAllCategories"/>
<output wsam:Action="http://product/categoryWS/viewAllCategoriesResponse" message="tns:viewAllCategoriesResponse"/>
</operation>
<operation name="getCategoriesName">
<input wsam:Action="http://product/categoryWS/getCategoriesNameRequest" message="tns:getCategoriesName"/>
<output wsam:Action="http://product/categoryWS/getCategoriesNameResponse" message="tns:getCategoriesNameResponse"/>
</operation>
<operation name="getSubCategoryNameList">
<input wsam:Action="http://product/categoryWS/getSubCategoryNameListRequest" message="tns:getSubCategoryNameList"/>
<output wsam:Action="http://product/categoryWS/getSubCategoryNameListResponse" message="tns:getSubCategoryNameListResponse"/>
</operation>
<operation name="editCategoryName">
<input wsam:Action="http://product/categoryWS/editCategoryNameRequest" message="tns:editCategoryName"/>
<output wsam:Action="http://product/categoryWS/editCategoryNameResponse" message="tns:editCategoryNameResponse"/>
</operation>
<operation name="editCategories">
<input wsam:Action="http://product/categoryWS/editCategories" message="tns:editCategories"/>
</operation>
<operation name="deleteCategories">
<input wsam:Action="http://product/categoryWS/deleteCategoriesRequest" message="tns:deleteCategories"/>
<output wsam:Action="http://product/categoryWS/deleteCategoriesResponse" message="tns:deleteCategoriesResponse"/>
</operation>
<operation name="searchCategories">
<input wsam:Action="http://product/categoryWS/searchCategoriesRequest" message="tns:searchCategories"/>
<output wsam:Action="http://product/categoryWS/searchCategoriesResponse" message="tns:searchCategoriesResponse"/>
</operation>
</portType>
<binding name="categoryWSPortBinding" type="tns:categoryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveNewCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoriesName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubCategoryNameList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCategoryName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="categoryWS">
<port name="categoryWSPort" binding="tns:categoryWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/categoryWS"/>
</port>
</service>
</definitions>