web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/PaymentWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="PaymentWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/WineXpressWebService-war/PaymentWS?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchCredit">
<part name="parameters" element="tns:fetchCredit"/>
</message>
<message name="fetchCreditResponse">
<part name="parameters" element="tns:fetchCreditResponse"/>
</message>
<message name="updateAddress">
<part name="parameters" element="tns:updateAddress"/>
</message>
<message name="fetchAddress">
<part name="parameters" element="tns:fetchAddress"/>
</message>
<message name="fetchAddressResponse">
<part name="parameters" element="tns:fetchAddressResponse"/>
</message>
<message name="updateCredit">
<part name="parameters" element="tns:updateCredit"/>
</message>
<message name="createPaymentRecord">
<part name="parameters" element="tns:createPaymentRecord"/>
</message>
<portType name="PaymentWS">
<operation name="fetchCredit">
<input wsam:Action="http://WS/PaymentWS/fetchCreditRequest" message="tns:fetchCredit"/>
<output wsam:Action="http://WS/PaymentWS/fetchCreditResponse" message="tns:fetchCreditResponse"/>
</operation>
<operation name="updateAddress">
<input wsam:Action="http://WS/PaymentWS/updateAddress" message="tns:updateAddress"/>
</operation>
<operation name="fetchAddress">
<input wsam:Action="http://WS/PaymentWS/fetchAddressRequest" message="tns:fetchAddress"/>
<output wsam:Action="http://WS/PaymentWS/fetchAddressResponse" message="tns:fetchAddressResponse"/>
</operation>
<operation name="updateCredit">
<input wsam:Action="http://WS/PaymentWS/updateCredit" message="tns:updateCredit"/>
</operation>
<operation name="createPaymentRecord">
<input wsam:Action="http://WS/PaymentWS/createPaymentRecord" message="tns:createPaymentRecord"/>
</operation>
</portType>
<binding name="PaymentWSPortBinding" type="tns:PaymentWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="fetchAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createPaymentRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="PaymentWS">
<port name="PaymentWSPort" binding="tns:PaymentWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/PaymentWS"/>
</port>
</service>
</definitions>