web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/productWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://product/" name="productWS">
<types>
<xsd:schema>
<xsd:import namespace="http://product/" schemaLocation="http://localhost:8080/WineXpressWebService-war/productWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AddOrderItemAndShoppingCart">
<part name="parameters" element="tns:AddOrderItemAndShoppingCart"/>
</message>
<message name="AddOrderItemAndShoppingCartResponse">
<part name="parameters" element="tns:AddOrderItemAndShoppingCartResponse"/>
</message>
<message name="calculateFinalCost">
<part name="parameters" element="tns:calculateFinalCost"/>
</message>
<message name="calculateFinalCostResponse">
<part name="parameters" element="tns:calculateFinalCostResponse"/>
</message>
<message name="getCustomerLatestOrderDetail">
<part name="parameters" element="tns:getCustomerLatestOrderDetail"/>
</message>
<message name="getCustomerLatestOrderDetailResponse">
<part name="parameters" element="tns:getCustomerLatestOrderDetailResponse"/>
</message>
<message name="findSubCategoryByName">
<part name="parameters" element="tns:findSubCategoryByName"/>
</message>
<message name="findSubCategoryByNameResponse">
<part name="parameters" element="tns:findSubCategoryByNameResponse"/>
</message>
<message name="productSubCategories">
<part name="parameters" element="tns:productSubCategories"/>
</message>
<message name="productSubCategoriesResponse">
<part name="parameters" element="tns:productSubCategoriesResponse"/>
</message>
<message name="findProductByName">
<part name="parameters" element="tns:findProductByName"/>
</message>
<message name="findProductByNameResponse">
<part name="parameters" element="tns:findProductByNameResponse"/>
</message>
<message name="updateOrderItemQuantity">
<part name="parameters" element="tns:updateOrderItemQuantity"/>
</message>
<message name="getShoppingCartList">
<part name="parameters" element="tns:getShoppingCartList"/>
</message>
<message name="getShoppingCartListResponse">
<part name="parameters" element="tns:getShoppingCartListResponse"/>
</message>
<message name="createOrderDetail">
<part name="parameters" element="tns:createOrderDetail"/>
</message>
<message name="createOrderDetailResponse">
<part name="parameters" element="tns:createOrderDetailResponse"/>
</message>
<message name="addProductSubcategories">
<part name="parameters" element="tns:addProductSubcategories"/>
</message>
<message name="getAllCategories">
<part name="parameters" element="tns:getAllCategories"/>
</message>
<message name="getAllCategoriesResponse">
<part name="parameters" element="tns:getAllCategoriesResponse"/>
</message>
<message name="viewAllProducts">
<part name="parameters" element="tns:viewAllProducts"/>
</message>
<message name="viewAllProductsResponse">
<part name="parameters" element="tns:viewAllProductsResponse"/>
</message>
<message name="findCustomerById">
<part name="parameters" element="tns:findCustomerById"/>
</message>
<message name="findCustomerByIdResponse">
<part name="parameters" element="tns:findCustomerByIdResponse"/>
</message>
<message name="deleteOrderList">
<part name="parameters" element="tns:deleteOrderList"/>
</message>
<message name="makeComment">
<part name="parameters" element="tns:makeComment"/>
</message>
<message name="deleteComment">
<part name="parameters" element="tns:deleteComment"/>
</message>
<message name="saveNewProduct">
<part name="parameters" element="tns:saveNewProduct"/>
</message>
<message name="saveNewProductResponse">
<part name="parameters" element="tns:saveNewProductResponse"/>
</message>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="rateProduct">
<part name="parameters" element="tns:rateProduct"/>
</message>
<portType name="productWS">
<operation name="AddOrderItemAndShoppingCart">
<input wsam:Action="http://product/productWS/AddOrderItemAndShoppingCartRequest" message="tns:AddOrderItemAndShoppingCart"/>
<output wsam:Action="http://product/productWS/AddOrderItemAndShoppingCartResponse" message="tns:AddOrderItemAndShoppingCartResponse"/>
</operation>
<operation name="calculateFinalCost">
<input wsam:Action="http://product/productWS/calculateFinalCostRequest" message="tns:calculateFinalCost"/>
<output wsam:Action="http://product/productWS/calculateFinalCostResponse" message="tns:calculateFinalCostResponse"/>
</operation>
<operation name="getCustomerLatestOrderDetail">
<input wsam:Action="http://product/productWS/getCustomerLatestOrderDetailRequest" message="tns:getCustomerLatestOrderDetail"/>
<output wsam:Action="http://product/productWS/getCustomerLatestOrderDetailResponse" message="tns:getCustomerLatestOrderDetailResponse"/>
</operation>
<operation name="findSubCategoryByName">
<input wsam:Action="http://product/productWS/findSubCategoryByNameRequest" message="tns:findSubCategoryByName"/>
<output wsam:Action="http://product/productWS/findSubCategoryByNameResponse" message="tns:findSubCategoryByNameResponse"/>
</operation>
<operation name="productSubCategories">
<input wsam:Action="http://product/productWS/productSubCategoriesRequest" message="tns:productSubCategories"/>
<output wsam:Action="http://product/productWS/productSubCategoriesResponse" message="tns:productSubCategoriesResponse"/>
</operation>
<operation name="findProductByName">
<input wsam:Action="http://product/productWS/findProductByNameRequest" message="tns:findProductByName"/>
<output wsam:Action="http://product/productWS/findProductByNameResponse" message="tns:findProductByNameResponse"/>
</operation>
<operation name="updateOrderItemQuantity">
<input wsam:Action="http://product/productWS/updateOrderItemQuantity" message="tns:updateOrderItemQuantity"/>
</operation>
<operation name="getShoppingCartList">
<input wsam:Action="http://product/productWS/getShoppingCartListRequest" message="tns:getShoppingCartList"/>
<output wsam:Action="http://product/productWS/getShoppingCartListResponse" message="tns:getShoppingCartListResponse"/>
</operation>
<operation name="createOrderDetail">
<input wsam:Action="http://product/productWS/createOrderDetailRequest" message="tns:createOrderDetail"/>
<output wsam:Action="http://product/productWS/createOrderDetailResponse" message="tns:createOrderDetailResponse"/>
</operation>
<operation name="addProductSubcategories">
<input wsam:Action="http://product/productWS/addProductSubcategories" message="tns:addProductSubcategories"/>
</operation>
<operation name="getAllCategories">
<input wsam:Action="http://product/productWS/getAllCategoriesRequest" message="tns:getAllCategories"/>
<output wsam:Action="http://product/productWS/getAllCategoriesResponse" message="tns:getAllCategoriesResponse"/>
</operation>
<operation name="viewAllProducts">
<input wsam:Action="http://product/productWS/viewAllProductsRequest" message="tns:viewAllProducts"/>
<output wsam:Action="http://product/productWS/viewAllProductsResponse" message="tns:viewAllProductsResponse"/>
</operation>
<operation name="findCustomerById">
<input wsam:Action="http://product/productWS/findCustomerByIdRequest" message="tns:findCustomerById"/>
<output wsam:Action="http://product/productWS/findCustomerByIdResponse" message="tns:findCustomerByIdResponse"/>
</operation>
<operation name="deleteOrderList">
<input wsam:Action="http://product/productWS/deleteOrderList" message="tns:deleteOrderList"/>
</operation>
<operation name="makeComment">
<input wsam:Action="http://product/productWS/makeComment" message="tns:makeComment"/>
</operation>
<operation name="deleteComment">
<input wsam:Action="http://product/productWS/deleteComment" message="tns:deleteComment"/>
</operation>
<operation name="saveNewProduct">
<input wsam:Action="http://product/productWS/saveNewProductRequest" message="tns:saveNewProduct"/>
<output wsam:Action="http://product/productWS/saveNewProductResponse" message="tns:saveNewProductResponse"/>
</operation>
<operation name="searchProduct">
<input wsam:Action="http://product/productWS/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://product/productWS/searchProductResponse" message="tns:searchProductResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://product/productWS/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://product/productWS/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://product/productWS/editProduct" message="tns:editProduct"/>
</operation>
<operation name="rateProduct">
<input wsam:Action="http://product/productWS/rateProduct" message="tns:rateProduct"/>
</operation>
</portType>
<binding name="productWSPortBinding" type="tns:productWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddOrderItemAndShoppingCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateFinalCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerLatestOrderDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSubCategoryByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productSubCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProductByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateOrderItemQuantity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getShoppingCartList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrderDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProductSubcategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCustomerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteOrderList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="makeComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="saveNewProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="rateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="productWS">
<port name="productWSPort" binding="tns:productWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/productWS"/>
</port>
</service>
</definitions>