web/WEB-INF/wsdl/localhost_8080/WineXpressWebService-war/subCategoryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://product/" name="subCategoryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://product/" schemaLocation="http://localhost:8080/WineXpressWebService-war/subCategoryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeProductFromSubCate">
<part name="parameters" element="tns:removeProductFromSubCate"/>
</message>
<message name="addNewSubcategory">
<part name="parameters" element="tns:addNewSubcategory"/>
</message>
<message name="addNewSubcategoryResponse">
<part name="parameters" element="tns:addNewSubcategoryResponse"/>
</message>
<message name="deleteSubCategory">
<part name="parameters" element="tns:deleteSubCategory"/>
</message>
<message name="deleteSubCategoryResponse">
<part name="parameters" element="tns:deleteSubCategoryResponse"/>
</message>
<message name="getCategoryById">
<part name="parameters" element="tns:getCategoryById"/>
</message>
<message name="getCategoryByIdResponse">
<part name="parameters" element="tns:getCategoryByIdResponse"/>
</message>
<message name="getProductAllSubCate">
<part name="parameters" element="tns:getProductAllSubCate"/>
</message>
<message name="getProductAllSubCateResponse">
<part name="parameters" element="tns:getProductAllSubCateResponse"/>
</message>
<portType name="subCategoryWS">
<operation name="removeProductFromSubCate">
<input wsam:Action="http://product/subCategoryWS/removeProductFromSubCate" message="tns:removeProductFromSubCate"/>
</operation>
<operation name="addNewSubcategory">
<input wsam:Action="http://product/subCategoryWS/addNewSubcategoryRequest" message="tns:addNewSubcategory"/>
<output wsam:Action="http://product/subCategoryWS/addNewSubcategoryResponse" message="tns:addNewSubcategoryResponse"/>
</operation>
<operation name="deleteSubCategory">
<input wsam:Action="http://product/subCategoryWS/deleteSubCategoryRequest" message="tns:deleteSubCategory"/>
<output wsam:Action="http://product/subCategoryWS/deleteSubCategoryResponse" message="tns:deleteSubCategoryResponse"/>
</operation>
<operation name="getCategoryById">
<input wsam:Action="http://product/subCategoryWS/getCategoryByIdRequest" message="tns:getCategoryById"/>
<output wsam:Action="http://product/subCategoryWS/getCategoryByIdResponse" message="tns:getCategoryByIdResponse"/>
</operation>
<operation name="getProductAllSubCate">
<input wsam:Action="http://product/subCategoryWS/getProductAllSubCateRequest" message="tns:getProductAllSubCate"/>
<output wsam:Action="http://product/subCategoryWS/getProductAllSubCateResponse" message="tns:getProductAllSubCateResponse"/>
</operation>
</portType>
<binding name="subCategoryWSPortBinding" type="tns:subCategoryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeProductFromSubCate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addNewSubcategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSubCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductAllSubCate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="subCategoryWS">
<port name="subCategoryWSPort" binding="tns:subCategoryWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/subCategoryWS"/>
</port>
</service>
</definitions>