src/conf/xml-resources/web-service-references/ReportWS/wsdl/localhost_8080/WineXpressWebService-war/ReportWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="getTotalNumberOfDays" type="tns:getTotalNumberOfDays"/>

<xs:element name="getTotalNumberOfDaysResponse" type="tns:getTotalNumberOfDaysResponse"/>

<xs:element name="getTotalProfitOfMonth" type="tns:getTotalProfitOfMonth"/>

<xs:element name="getTotalProfitOfMonthResponse" type="tns:getTotalProfitOfMonthResponse"/>

<xs:element name="getTotalValueOfMonth" type="tns:getTotalValueOfMonth"/>

<xs:element name="getTotalValueOfMonthResponse" type="tns:getTotalValueOfMonthResponse"/>

<xs:element name="getTotalValueofDay" type="tns:getTotalValueofDay"/>

<xs:element name="getTotalValueofDayResponse" type="tns:getTotalValueofDayResponse"/>

<xs:element name="orderOfTheDay" type="tns:orderOfTheDay"/>

<xs:element name="orderOfTheDayResponse" type="tns:orderOfTheDayResponse"/>

<xs:element name="orderOfTheMonth" type="tns:orderOfTheMonth"/>

<xs:element name="orderOfTheMonthResponse" type="tns:orderOfTheMonthResponse"/>

<xs:element name="orderOfYear" type="tns:orderOfYear"/>

<xs:element name="orderOfYearResponse" type="tns:orderOfYearResponse"/>

<xs:element name="orderWithinDates" type="tns:orderWithinDates"/>

<xs:element name="orderWithinDatesResponse" type="tns:orderWithinDatesResponse"/>

<xs:element name="retrieveTotalDay" type="tns:retrieveTotalDay"/>

<xs:element name="retrieveTotalDayResponse" type="tns:retrieveTotalDayResponse"/>

<xs:element name="retrieveTotalMonth" type="tns:retrieveTotalMonth"/>

<xs:element name="retrieveTotalMonthResponse" type="tns:retrieveTotalMonthResponse"/>

<xs:element name="totalProfit" type="tns:totalProfit"/>

<xs:element name="totalProfitResponse" type="tns:totalProfitResponse"/>

<xs:element name="totalValue" type="tns:totalValue"/>

<xs:element name="totalValueResponse" type="tns:totalValueResponse"/>

<xs:complexType name="getTotalValueofDay">
<xs:sequence>
<xs:element name="orderList" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="day" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderDetail">
<xs:sequence>
<xs:element name="contactName" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="discountedPrice" type="xs:double"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ordDate" type="tns:timestamp" minOccurs="0"/>
<xs:element name="orderItemCollection" type="tns:orderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="payment" type="tns:payment" minOccurs="0"/>
<xs:element name="priceBeforeDisc" type="xs:double"/>
<xs:element name="shippingFee" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double"/>
<xs:element name="dAddress1" type="xs:string" minOccurs="0"/>
<xs:element name="dAddress2" type="xs:string" minOccurs="0"/>
<xs:element name="dCity" type="xs:string" minOccurs="0"/>
<xs:element name="dContact" type="xs:string" minOccurs="0"/>
<xs:element name="dCountry" type="xs:string" minOccurs="0"/>
<xs:element name="dPostalCode" type="xs:string" minOccurs="0"/>
<xs:element name="dState" type="xs:string" minOccurs="0"/>
<xs:element name="sAddress1" type="xs:string" minOccurs="0"/>
<xs:element name="sAddress2" type="xs:string" minOccurs="0"/>
<xs:element name="sCity" type="xs:string" minOccurs="0"/>
<xs:element name="sContactNum" type="xs:string" minOccurs="0"/>
<xs:element name="sCountry" type="xs:string" minOccurs="0"/>
<xs:element name="sPostalCode" type="xs:string" minOccurs="0"/>
<xs:element name="sState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderItem">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="product" type="tns:product" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="subtotal" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="availableQuantity" type="xs:int"/>
<xs:element name="averageRate" type="xs:double"/>
<xs:element name="commentCollection" type="tns:comment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cost" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="discount" type="xs:int"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfRate" type="xs:int"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="productStatus" type="xs:int"/>
<xs:element name="rateCollection" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="soldQuantity" type="xs:int"/>
<xs:element name="volumn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comment">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="cStatus" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rate">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="cardHolder" type="xs:string" minOccurs="0"/>
<xs:element name="cardNumber" type="xs:int"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="method" type="xs:string" minOccurs="0"/>
<xs:element name="orderDetail" type="tns:orderDetail" minOccurs="0"/>
<xs:element name="payDay" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalValueofDayResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderOfTheDay">
<xs:sequence>
<xs:element name="myorders" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="day" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderOfTheDayResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveTotalMonth">
<xs:sequence>
<xs:element name="sday" type="xs:int"/>
<xs:element name="smonth" type="xs:int"/>
<xs:element name="syear" type="xs:int"/>
<xs:element name="eday" type="xs:int"/>
<xs:element name="emonth" type="xs:int"/>
<xs:element name="eyear" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveTotalMonthResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalProfitOfMonth">
<xs:sequence>
<xs:element name="orderList" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalProfitOfMonthResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderOfYear">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderOfYearResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalValue">
<xs:sequence>
<xs:element name="orderList" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalValueResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderOfTheMonth">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="orderOfTheMonthResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderWithinDates">
<xs:sequence>
<xs:element name="sday" type="xs:int"/>
<xs:element name="smonth" type="xs:int"/>
<xs:element name="syear" type="xs:int"/>
<xs:element name="eday" type="xs:int"/>
<xs:element name="emonth" type="xs:int"/>
<xs:element name="eyear" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderWithinDatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveTotalDay">
<xs:sequence>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveTotalDayResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalProfit">
<xs:sequence>
<xs:element name="orderList" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalProfitResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalValueOfMonth">
<xs:sequence>
<xs:element name="orderList" type="tns:orderDetail" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalValueOfMonthResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalNumberOfDays">
<xs:sequence>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTotalNumberOfDaysResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>