src/conf/xml-resources/web-service-references/ReportWS/wsdl/localhost_8080/WineXpressWebService-war/ReportWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="ReportWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/WineXpressWebService-war/ReportWS?xsd=1"/>
</xsd:schema>
</types>
<message name="totalValue">
<part name="parameters" element="tns:totalValue"/>
</message>
<message name="totalValueResponse">
<part name="parameters" element="tns:totalValueResponse"/>
</message>
<message name="orderOfTheMonth">
<part name="parameters" element="tns:orderOfTheMonth"/>
</message>
<message name="orderOfTheMonthResponse">
<part name="parameters" element="tns:orderOfTheMonthResponse"/>
</message>
<message name="orderOfTheDay">
<part name="parameters" element="tns:orderOfTheDay"/>
</message>
<message name="orderOfTheDayResponse">
<part name="parameters" element="tns:orderOfTheDayResponse"/>
</message>
<message name="orderOfYear">
<part name="parameters" element="tns:orderOfYear"/>
</message>
<message name="orderOfYearResponse">
<part name="parameters" element="tns:orderOfYearResponse"/>
</message>
<message name="orderWithinDates">
<part name="parameters" element="tns:orderWithinDates"/>
</message>
<message name="orderWithinDatesResponse">
<part name="parameters" element="tns:orderWithinDatesResponse"/>
</message>
<message name="retrieveTotalDay">
<part name="parameters" element="tns:retrieveTotalDay"/>
</message>
<message name="retrieveTotalDayResponse">
<part name="parameters" element="tns:retrieveTotalDayResponse"/>
</message>
<message name="totalProfit">
<part name="parameters" element="tns:totalProfit"/>
</message>
<message name="totalProfitResponse">
<part name="parameters" element="tns:totalProfitResponse"/>
</message>
<message name="getTotalValueofDay">
<part name="parameters" element="tns:getTotalValueofDay"/>
</message>
<message name="getTotalValueofDayResponse">
<part name="parameters" element="tns:getTotalValueofDayResponse"/>
</message>
<message name="getTotalNumberOfDays">
<part name="parameters" element="tns:getTotalNumberOfDays"/>
</message>
<message name="getTotalNumberOfDaysResponse">
<part name="parameters" element="tns:getTotalNumberOfDaysResponse"/>
</message>
<message name="retrieveTotalMonth">
<part name="parameters" element="tns:retrieveTotalMonth"/>
</message>
<message name="retrieveTotalMonthResponse">
<part name="parameters" element="tns:retrieveTotalMonthResponse"/>
</message>
<message name="getTotalProfitOfMonth">
<part name="parameters" element="tns:getTotalProfitOfMonth"/>
</message>
<message name="getTotalProfitOfMonthResponse">
<part name="parameters" element="tns:getTotalProfitOfMonthResponse"/>
</message>
<message name="getTotalValueOfMonth">
<part name="parameters" element="tns:getTotalValueOfMonth"/>
</message>
<message name="getTotalValueOfMonthResponse">
<part name="parameters" element="tns:getTotalValueOfMonthResponse"/>
</message>
<portType name="ReportWS">
<operation name="totalValue">
<input wsam:Action="http://WS/ReportWS/totalValueRequest" message="tns:totalValue"/>
<output wsam:Action="http://WS/ReportWS/totalValueResponse" message="tns:totalValueResponse"/>
</operation>
<operation name="orderOfTheMonth">
<input wsam:Action="http://WS/ReportWS/orderOfTheMonthRequest" message="tns:orderOfTheMonth"/>
<output wsam:Action="http://WS/ReportWS/orderOfTheMonthResponse" message="tns:orderOfTheMonthResponse"/>
</operation>
<operation name="orderOfTheDay">
<input wsam:Action="http://WS/ReportWS/orderOfTheDayRequest" message="tns:orderOfTheDay"/>
<output wsam:Action="http://WS/ReportWS/orderOfTheDayResponse" message="tns:orderOfTheDayResponse"/>
</operation>
<operation name="orderOfYear">
<input wsam:Action="http://WS/ReportWS/orderOfYearRequest" message="tns:orderOfYear"/>
<output wsam:Action="http://WS/ReportWS/orderOfYearResponse" message="tns:orderOfYearResponse"/>
</operation>
<operation name="orderWithinDates">
<input wsam:Action="http://WS/ReportWS/orderWithinDatesRequest" message="tns:orderWithinDates"/>
<output wsam:Action="http://WS/ReportWS/orderWithinDatesResponse" message="tns:orderWithinDatesResponse"/>
</operation>
<operation name="retrieveTotalDay">
<input wsam:Action="http://WS/ReportWS/retrieveTotalDayRequest" message="tns:retrieveTotalDay"/>
<output wsam:Action="http://WS/ReportWS/retrieveTotalDayResponse" message="tns:retrieveTotalDayResponse"/>
</operation>
<operation name="totalProfit">
<input wsam:Action="http://WS/ReportWS/totalProfitRequest" message="tns:totalProfit"/>
<output wsam:Action="http://WS/ReportWS/totalProfitResponse" message="tns:totalProfitResponse"/>
</operation>
<operation name="getTotalValueofDay">
<input wsam:Action="http://WS/ReportWS/getTotalValueofDayRequest" message="tns:getTotalValueofDay"/>
<output wsam:Action="http://WS/ReportWS/getTotalValueofDayResponse" message="tns:getTotalValueofDayResponse"/>
</operation>
<operation name="getTotalNumberOfDays">
<input wsam:Action="http://WS/ReportWS/getTotalNumberOfDaysRequest" message="tns:getTotalNumberOfDays"/>
<output wsam:Action="http://WS/ReportWS/getTotalNumberOfDaysResponse" message="tns:getTotalNumberOfDaysResponse"/>
</operation>
<operation name="retrieveTotalMonth">
<input wsam:Action="http://WS/ReportWS/retrieveTotalMonthRequest" message="tns:retrieveTotalMonth"/>
<output wsam:Action="http://WS/ReportWS/retrieveTotalMonthResponse" message="tns:retrieveTotalMonthResponse"/>
</operation>
<operation name="getTotalProfitOfMonth">
<input wsam:Action="http://WS/ReportWS/getTotalProfitOfMonthRequest" message="tns:getTotalProfitOfMonth"/>
<output wsam:Action="http://WS/ReportWS/getTotalProfitOfMonthResponse" message="tns:getTotalProfitOfMonthResponse"/>
</operation>
<operation name="getTotalValueOfMonth">
<input wsam:Action="http://WS/ReportWS/getTotalValueOfMonthRequest" message="tns:getTotalValueOfMonth"/>
<output wsam:Action="http://WS/ReportWS/getTotalValueOfMonthResponse" message="tns:getTotalValueOfMonthResponse"/>
</operation>
</portType>
<binding name="ReportWSPortBinding" type="tns:ReportWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="totalValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderOfTheMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderOfTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderOfYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderWithinDates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveTotalDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="totalProfit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalValueofDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalNumberOfDays">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveTotalMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalProfitOfMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalValueOfMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReportWS">
<port name="ReportWSPort" binding="tns:ReportWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/ReportWS"/>
</port>
</service>
</definitions>