src/conf/xml-resources/web-service-references/AdminAccMngmtWS/wsdl/localhost_8080/WineXpressWebService-war/AdminAccMngmtWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accountManagement.wx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://accountManagement.wx.com/" name="AdminAccMngmtWS">
<types>
<xsd:schema>
<xsd:import namespace="http://accountManagement.wx.com/" schemaLocation="http://localhost:8080/WineXpressWebService-war/AdminAccMngmtWS?xsd=1"/>
</xsd:schema>
</types>
<message name="logInAdmin">
<part name="parameters" element="tns:logInAdmin"/>
</message>
<message name="logInAdminResponse">
<part name="parameters" element="tns:logInAdminResponse"/>
</message>
<message name="cancelAccount">
<part name="parameters" element="tns:cancelAccount"/>
</message>
<message name="cancelAccountResponse">
<part name="parameters" element="tns:cancelAccountResponse"/>
</message>
<message name="logOutAdmin">
<part name="parameters" element="tns:logOutAdmin"/>
</message>
<message name="logOutAdminResponse">
<part name="parameters" element="tns:logOutAdminResponse"/>
</message>
<message name="viewAccInfoAdmin">
<part name="parameters" element="tns:viewAccInfoAdmin"/>
</message>
<message name="viewAccInfoAdminResponse">
<part name="parameters" element="tns:viewAccInfoAdminResponse"/>
</message>
<message name="changePwAdmin">
<part name="parameters" element="tns:changePwAdmin"/>
</message>
<message name="changePwAdminResponse">
<part name="parameters" element="tns:changePwAdminResponse"/>
</message>
<message name="getAllCust">
<part name="parameters" element="tns:getAllCust"/>
</message>
<message name="getAllCustResponse">
<part name="parameters" element="tns:getAllCustResponse"/>
</message>
<message name="blockCust">
<part name="parameters" element="tns:blockCust"/>
</message>
<message name="blockCustResponse">
<part name="parameters" element="tns:blockCustResponse"/>
</message>
<message name="createAdmin">
<part name="parameters" element="tns:createAdmin"/>
</message>
<message name="createAdminResponse">
<part name="parameters" element="tns:createAdminResponse"/>
</message>
<message name="reActivateAdmin">
<part name="parameters" element="tns:reActivateAdmin"/>
</message>
<message name="reActivateAdminResponse">
<part name="parameters" element="tns:reActivateAdminResponse"/>
</message>
<message name="resetPwAdmin">
<part name="parameters" element="tns:resetPwAdmin"/>
</message>
<message name="resetPwAdminResponse">
<part name="parameters" element="tns:resetPwAdminResponse"/>
</message>
<message name="editParticularsAdmin">
<part name="parameters" element="tns:editParticularsAdmin"/>
</message>
<message name="editParticularsAdminResponse">
<part name="parameters" element="tns:editParticularsAdminResponse"/>
</message>
<message name="viewPurchaseHistoryAdmin">
<part name="parameters" element="tns:viewPurchaseHistoryAdmin"/>
</message>
<message name="viewPurchaseHistoryAdminResponse">
<part name="parameters" element="tns:viewPurchaseHistoryAdminResponse"/>
</message>
<portType name="AdminAccMngmtWS">
<operation name="logInAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/logInAdminRequest" message="tns:logInAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/logInAdminResponse" message="tns:logInAdminResponse"/>
</operation>
<operation name="cancelAccount">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/cancelAccountRequest" message="tns:cancelAccount"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/cancelAccountResponse" message="tns:cancelAccountResponse"/>
</operation>
<operation name="logOutAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/logOutAdminRequest" message="tns:logOutAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/logOutAdminResponse" message="tns:logOutAdminResponse"/>
</operation>
<operation name="viewAccInfoAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/viewAccInfoAdminRequest" message="tns:viewAccInfoAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/viewAccInfoAdminResponse" message="tns:viewAccInfoAdminResponse"/>
</operation>
<operation name="changePwAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/changePwAdminRequest" message="tns:changePwAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/changePwAdminResponse" message="tns:changePwAdminResponse"/>
</operation>
<operation name="getAllCust">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/getAllCustRequest" message="tns:getAllCust"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/getAllCustResponse" message="tns:getAllCustResponse"/>
</operation>
<operation name="blockCust">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/blockCustRequest" message="tns:blockCust"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/blockCustResponse" message="tns:blockCustResponse"/>
</operation>
<operation name="createAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/createAdminRequest" message="tns:createAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/createAdminResponse" message="tns:createAdminResponse"/>
</operation>
<operation name="reActivateAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/reActivateAdminRequest" message="tns:reActivateAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/reActivateAdminResponse" message="tns:reActivateAdminResponse"/>
</operation>
<operation name="resetPwAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/resetPwAdminRequest" message="tns:resetPwAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/resetPwAdminResponse" message="tns:resetPwAdminResponse"/>
</operation>
<operation name="editParticularsAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/editParticularsAdminRequest" message="tns:editParticularsAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/editParticularsAdminResponse" message="tns:editParticularsAdminResponse"/>
</operation>
<operation name="viewPurchaseHistoryAdmin">
<input wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/viewPurchaseHistoryAdminRequest" message="tns:viewPurchaseHistoryAdmin"/>
<output wsam:Action="http://accountManagement.wx.com/AdminAccMngmtWS/viewPurchaseHistoryAdminResponse" message="tns:viewPurchaseHistoryAdminResponse"/>
</operation>
</portType>
<binding name="AdminAccMngmtWSPortBinding" type="tns:AdminAccMngmtWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="logInAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logOutAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAccInfoAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePwAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCust">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blockCust">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reActivateAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPwAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editParticularsAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewPurchaseHistoryAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminAccMngmtWS">
<port name="AdminAccMngmtWSPort" binding="tns:AdminAccMngmtWSPortBinding">
<soap:address location="http://localhost:8080/WineXpressWebService-war/AdminAccMngmtWS"/>
</port>
</service>
</definitions>